.form
{
  margin-top: 15px;
  width:100%;
  font-size: 14px;
  font-weight: 500;
}

.FormLabel{
  padding-top: 11px;
  padding-left: 32px;
  display: inline-block;
  min-width: max-content;
  padding-right: 16px;
  height: 40px;
  text-align: right;
}

.FormValue{
  min-width: 180px;
  line-height: 20px;
  display: inline-flex;
  padding-bottom: 0px;
  border-bottom: none;
  outline-style: none;
  background-color: #FFFFFF;
}

.picklist{
  align-items: center;
  padding-top: 10px;
}

::ng-deep .FormValue.ng-select .ng-select-container:after {
  border-bottom: none;
  content: none;
}

::ng-deep .FormValue.ng-select .ng-select-container{
  min-width: 40px;
  min-height: 30px;
}

::ng-deep .ng-dropdown-panel .scrollable-content{
  padding: 1px;
  font-size: 12px;
  font-weight: 500;
  background-color: unset;
}

::ng-deep .ng-dropdown-panel.ng-select-bottom{
  width: 350px;
  top: calc(100%);
}

::ng-deep .ng-dropdown-panel .ng-dropdown-header{
  padding: 0px 10px;
  border: unset;
  background-color: var(--color);
  border-radius: 4px;
}

::ng-deep .FormValue.ng-select.ng-select-single .ng-select-container .ng-arrow-wrapper{
  bottom: 10px;
}

::ng-deep .FormValue.ng-select .ng-select-container .ng-value-container .ng-input{
  padding-bottom: 0px;
}

::ng-deep .FormValue.ng-select .ng-select-container .ng-value-container .ng-input{
  bottom: unset;
}

::ng-deep .FormValue.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-input>input{
width: 40px;
}

::ng-deep .FormValue.ng-select.ng-select-single .ng-select-container .ng-clear-wrapper{
  display: none;
}

::ng-deep .FormValue.ng-select.ng-select-disabled .ng-select-container .ng-value-container .ng-value{
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: rgba(26, 26, 26, 0.87) !important;
}

::ng-deep .FormValue.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value{
  background-color: unset !important;
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  border: 1px solid rgba(26, 26, 26, 0.32);
  padding: 3px 5px;
  margin: 0 16px 5px 0;
  border-radius: 4px;
  color: rgba(26, 26, 26, 0.87) !important;
}

::ng-deep .FormValue.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-label{
  font-size: 14px;
  font-weight: 700;
  display: inline-block;
  padding-top: 5px;
}

::ng-deep .ng-dropdown-panel.ng-select-bottom{
  font-size: 12px;
  font-weight: 500;
}

::ng-deep .FormValue.ng-select.ng-select-multiple .ng-select-container.ng-has-value .ng-clear-wrapper, .ng-select.ng-select-multiple .ng-select-container.ng-has-value .ng-arrow-wrapper{
  border-top: 0px;
  margin-top: -20px
}

::ng-deep .FormValue.ng-select.ng-select-multiple .ng-select-container.ng-has-value .ng-arrow-wrapper, .ng-select.ng-select-multiple .ng-select-container.ng-has-value .ng-arrow-wrapper{
  border-top: 0px;
  margin-top: -16px
}

::ng-deep .FormValue.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-icon{
  font-size: 16px;
  top: -0.5px;
  position: relative;
  padding-bottom: 10px;
  padding-right: 15px;
  padding-left: 6px;
  color: rgba(26, 26, 26, 0.54) !important;
}

::ng-deep .FormValue.ng-select.ng-select-disabled .ng-arrow-wrapper{
  display: none;
}

::ng-deep .FormValue.mat-form-field-underline {
  display: none;
}

::ng-deep .FormValue.mat-form-field-appearance-legacy .mat-form-field-underline{
  bottom: 0px;
}

::ng-deep .FormValue.mat-form-field-appearance-legacy .mat-form-field-wrapper{
  padding-bottom: 0px;
}

::ng-deep .FormValue.mat-form-field-infix{
  padding: 0px;
  border-top: 0px;
}

::ng-deep .FormValue.ng-select .ng-select-container .ng-value-container {
  padding: 0px;
  border: 0px;
}

::ng-deep .FormValue.ng-select .ng-arrow-wrapper .ng-arrow {
  border-color: none !important;
  border-style: none !important;
  border-width: 0 !important;
}

::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked{
  background-color: var(--selectcolor) !important;
  border-radius: 4px !important;
  color: rgba(26, 26, 26, 0.87) !important;
}

::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected {
  background-color: var(--selectcolor) !important;
  border-radius: 4px !important;
  color: rgba(26, 26, 26, 0.87) !important;
}

::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items{
  width: auto;
}

::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items .ng-option{
  padding: 0px;
}

::ng-deep .ng-dropdown-panel.ng-select-top{
  box-shadow: unset;
}

::ng-deep .ng-dropdown-panel{
  background-color: unset;
}

::ng-deep .ng-dropdown-panel .scroll-host{
  background-color: #FFFFFF;
  width: 350px;
}

::ng-deep .ng-dropdown-panel .scroll-host::-webkit-scrollbar {
  background: #FFFFFF;
  width: 2px;
}

::ng-deep .ng-dropdown-panel .scroll-host::-webkit-scrollbar-track {
  background: #FFFFFF;
  box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

::ng-deep .ng-dropdown-panel .scroll-host::-webkit-scrollbar-thumb {
  background: var(--color);
  border-radius: 4px;
}

::ng-deep .ng-dropdown-panel .scroll-host::-webkit-scrollbar-thumb:hover {
  background: var(--color);
  border-radius: 4px;
}

::ng-deep .FormValue.ng-select.ng-select-multiple .ng-select-container.ng-has-value .ng-arrow-wrapper{
  margin-top: 0px;
}

::ng-deep .FormValue.ng-select.ng-select-multiple .ng-select-container.ng-has-value .ng-clear-wrapper{
  margin-top: 0px;
}