@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Dancing Script");
.host {
  display: flex;
  min-width: 100%;
  min-height: 95%;
  }

.footer{
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
}

.slideimage{
  display: inline-block;
  position: absolute;
  top: -48%;
  right: 0%;
  min-width: 141%;
  height: 148%;
}

.Loginbtn{
  margin-top: 20px;
  outline-style: none;
}

.Forgtpassw{
  width: 200px;
  margin-top: 12px;
  margin-left: 194px;
  color: var(--color);
  font-family: 'Montserrat';
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-decoration-line: underline;
  cursor: pointer;
}
.container{
  display: flex;
  font-family:Montserrat;
  min-width:100%;
  border-radius: 0px;
  padding: 0px;
  background: #FFFFFF;
}

.left{
  width: 58%;
  height: 100%;
  padding-left:10px;
}
.right{
  width: 42%;
  min-height: 100%;
  padding-left: 6%;
}


.database{
  position: absolute;
  margin-left: 280px;
  top: 217px;
}
.user{
  position: absolute;
  margin-left: 276px;
  top: 265px;
}
.icon{
  cursor: pointer;
  position: absolute;
  margin-left: 274px;
  top: 308px;
}

.container_slider{
position: absolute;
top: 200px;
left: 800px;
right: 0px;
bottom: 0px;
}

.imageslide{
  padding-left: 20px;
}

.nav {
  text-align: center;
  display: block;
  position: absolute;
  z-index: 1002;
  left: 12.5%;
  bottom: 8%;
  right: 0;
}

.nonDraggableImage{
  -webkit-user-drag: none;
}

.nav .wrapper {
  margin: 0 auto;
  width: 100%;
  padding: 1em 0 .8em;  
}

.nav ul {
  margin: 0;
  width: 22%;
  border: 3px;
  border-radius: 20px;
  height: 13px;
  background-color: rgba(26, 26, 26, 0.5);
  padding-top: 2px;
  padding-right: 7px;
}

.nav .dot, .nav .dot span {
  display: inline-block;
  zoom: 1;
  cursor: pointer;
}

.dots .dot {
  position: relative;
  margin: 0 8px;
  width: 0px;
  height: 20px;
  
}

.dots .dot span {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 5px;
  height: 5px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid transparent;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: background-color 0.25s, border-color 0.25s;
  -moz-transition: background-color 0.25s, border-color 0.25s;
  transition: background-color 0.25s, border-color 0.25s;
}

.dots .dot span.active {
  border: 1px solid transparent;
  background-color: #FFFFFF;
}

.logo{
  position: absolute;
  left: 32px;
  padding-top: 40px;
}

.headingsign{
  font-weight: 700;
  padding-top: 140px;
  margin-bottom: 0px;
  width: 415px;
  height: 30px;
}

.hint{
  margin-top: 35px;
  margin-bottom: 20px;
}

.helpbutton{
  width: 120px;
  height: 28px;
  outline-style: none;
}

.help{
  font-weight: 700;
  cursor: pointer;
  padding-left: 4px;
  display: inline;
  margin-top: 60px;
}

mat-card{
  width:100%;
}
.mat-card:not([class*=mat-elevation-z]) {
    box-shadow: 0 2px 1px -1px rgb(130, 128, 128), 
                0 1px 1px 0 rgb(111, 109, 109), 
                0 1px 3px 0 rgb(130, 128, 128);
}

.noaccount{
  font-weight: 700;
  margin-top: 40px;
  margin-bottom: 100px;
}

.signup{
  cursor: pointer;
}

.userserver {
  position: relative;
  background-position: right;
  width: 297px;
  height: 21px;
  margin: 0 8px 9.5px 0;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: rgba(26, 26, 26, 0.87);
}

.username{
  position: relative;
  width: 297px;
  height: 21px;
  margin: 0 8px 9.5px 0;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: rgba(26, 26, 26, 0.87);
}

.userpass{
  position: relative;
  width: 297px;
  height: 21px;
  margin: 0 8px 9.5px 0;
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: rgba(26, 26, 26, 0.87);
}

.Line-45 {
  width: 304.5px;
  height: 0;
  margin-top: -18px;
  border: solid 1px #ccc;
}