@import url("https://fonts.googleapis.com/css?family=Montserrat");
.basic-container{
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
}
.heading{
    position:sticky;
    //margin-top: 15px;
    font-size: 14px;
    font-family: Montserrat;
    font-weight: 500;
    color: #69297F;
    left: 20px;
}
.mat-icon-button {
    border-bottom: unset !important;
}

.vertical-menu{
    color:#FFF;
    padding-left: 10px;
    padding-bottom: 5px;
    cursor: pointer;
}
.mat-tree-node { 
    min-height: 41px;
}
.menu-divider{
    width: 100%;
    height:1px;
    background-color:#b788e9;
    cursor: pointer;
}
.nodename{
    display: inline-block; 
    position: relative; 
    top: -9px;
    padding-top: 25px;
    width: 120px ;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;  
    color: rgba(26, 26, 26, 0.87);
    cursor: pointer;
}

.nodenames{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;  
    color: #FFFFFF;
    cursor: pointer;
  }

.btns{
    cursor: pointer;
    width: 100%;
}

.menu-divider{
    width: 100%;
    height:1px;
    background-color:#b788e9;
    cursor: pointer;
}

.image{
    top: -2px;
    margin-left: 20px;
}

.text{
    display: inline-block;
    width: 150px;
    color: #FFFFFF;
}

.boxborder{
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
    box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.15);
}

